.containerCard{
    width: 100%;
    background-color: rgb(210, 141, 253);
    border-radius: 0.4rem;
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
}
.actionCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.actionCard button{
    background-color: rgb(165, 86, 239);
    color:white;
    border-radius:0.6rem;
    border:none;
    padding:5px;
}
.actionCard button:hover{
    cursor:pointer;
    background-color: rgb(98, 4, 186);
}